
<script>
  data = '<%= @json %>';
</script>


<section id="add">
  <form action="/save-note" method="post">
    <textarea name="content" placeholder="Jouw memo&hellip;"></textarea>
    <input type="submit" value="Sla op!">
  </form>
</section>
 


	